@import './variables.scss';

.brands {

    width: 100%;
    height: auto;

    &__title {

        width: 100%;
        height: auto;
        min-height: 56px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-top: 16px;
        padding-left: 24px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-image: linear-gradient(90deg, $gradientOne 1.39%, $gradientTwo 100%);
        border-top: 1px solid $borderTop;

        a {

            display: inline-block;
            text-decoration: none;
            width: auto;
            font-size: 16px;
            line-height: 24px;
            font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $menuTextColor;

        }
  
    }

    &__box {

        width: 100%;
        height: auto;
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 0px;
        box-sizing: border-box;
        justify-items: auto;

    }

    &__more {

        display: none;
        width: 200px;
        padding-left: 24px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;

        .more:first-child {

            margin-right: 12px;
            background-image: url('../img/expand.svg');
            width: 24px;
            height: 24px;

        }

        

    }

    &__more-text {

        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    &__item {

        background-color: rgb(176, 176, 176);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 238px;
        height: 72px;
        margin-right: 24px;
        margin-bottom: 16px;
        border: 1px solid $dividerColor;
        background-color: $white;
        border-radius: 6px;

    }

    &__href {

        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('../img/go.svg');
        margin: 16px;

    }

    &__logo--bosch {

        background-image: url('../img/bosch.svg');
        background-size: 100%;
        width: 128px;
        height: 28px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: 16px;

    }

    &__logo--samsung {

        background-image: url('../img/samsung.svg');
        background-size: 100%;
        width: 116px;
        height: 38px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        margin-right: auto;

    }

    &__logo--apple {

        background-image: url('../img/apple.svg');
        background-size: 100%;
        width: 44px;
        height: 44px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;

    }

    &__logo--hp {

        background-image: url('../img/hp.svg');
        background-size: 100%;
        width: 52px;
        height: 52px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;

    }

    &__logo--sony {

        background-image: url('../img/sony.svg');
        background-size: 100%;
        width: 128px;
        height: 26px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;

    }

    &__logo--wiew-sonic {

        background-image: url('../img/wiew-sonic.svg');
        background-size: 100%;
        width: 128px;
        height: 21px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;

    }

    &__logo--lenovo {

        background-image: url('../img/lenovo.svg');
        background-size: 100%;
        width: 108px;
        height: 32px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;

    }

    &__logo--acer {

        background-image: url('../img/acer.svg');
        background-size: 100%;
        width: 108px;
        height: 32px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 16px;
        width: 94px;
        height: 24px;

    }

 }

  @media screen and (min-width:  768px) and (max-width: 1439px) {

          
    .brands {
  
        width: 100%;

        &__title {

            a {

                font-size: 16px;
                line-height: 24px;
                font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
        }

        &__box {

            padding-top: 24px;
            padding-left: 24px;
            height: 200px;
            overflow: hidden;
            display: flex;
            margin-bottom: 24px;

        }

        &__item {

            width: 29%;
            margin-right: 24px;
            margin-bottom: 16px;
            min-width: 215px;

        }

        &__more {

            display: flex;
            margin: 0px 24px 24px 32px;
            font-family: $medium,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $blackColor;
            font-size: 16px;
            line-height: 24px;
            width: 200px;
            margin-left: 4px;

        }

        &__box--open {

            height: auto;

        }

    }


}


  @media screen and (min-width: 1440px) {


  .brands {
 
    width: 100%;

    &__title {

        a  {

            font-size: 16px;
            line-height: 24px;
            font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;

        }

    }

    &__item {

        width: 22%;
        margin-right: 24px;
        margin-bottom: 16px;
        min-width: 220px;

    }

    &__box {

        height: 200px;
        overflow: hidden;
        display: flex;
        margin-bottom: 24px;
        padding-left: 24px;
        padding-top: 24px;

    }

    &__more {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: $regular,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: $blackColor;
        width: 140px;
        height: 24px;
        margin-left: 24px;
        padding: 0;

    }

    &__box--open {

        height: auto;

    }
       
}

}


