
.scale-effect:hover {

    transform: scale(1.05);
    transition: all 0.1s ease-out;
    
}

.rotate-effect:hover {

    transform: rotate(10deg);
    transition: all 0.1s ease-out;

}
  
.opacity-effect:hover {

    opacity: 70%;
    transition: all 0.1s ease-out;
    
}
  
.display--none {

    display: none;
    
}
  