.header {

    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    &__burger {

        width: 40px;
        height: 40px;
        background-image: url('../img/burger.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;
        margin-right: 16px;

    }

    &__divider {

        width: 2px;
        height: 32px;
        background-color:rgba(234, 234, 234, 1);
        align-self: center;
        margin-left: 16px;
        display: inline; 
  
    }

    &__logo {

        width: 98px;
        height: 52px;
        background-image: url('../img/LogoCPS.svg');
        align-self: center;

    }

    &__call {

        width: 40px;
        height: 40px;
        background-image: url('../img/call.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;

    }

    &__profile {

        width: 40px;
        height: 40px;
        background-image: url('../img/profile.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;

    }

    &__chat {

        width: 40px;
        height: 40px;
        background-image: url('../img/chat.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;

    }

    &__repair {

        width: 40px;
        height: 40px;
        background-image: url('../img/repair.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;

    }

    &__checkstatus {

        width: 40px;
        height: 40px;
        background-image: url('../img/checkstatus.svg');
        background-position: 50% 50% no-repeat;
        align-self: center;
        margin-left: 16px;

    }

    &__hi-resol {

        display: inline-block;
        align-self: center;
        margin-left: 16px;
        margin-right: -4px;
        font-weight: bold;
        font-size: 16px;
        display: none;

    }

    &__burger + &__divider {

        display: none;

    }

    &__block {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }

    &__hi-res-text {

        display: none;

    }

    &__block:last-child {

        margin-right: 16px;

    }

    &__block:nth-child(4) &__divider {

        display: none;

    }

    &__block:nth-child(3) {

        display: none; 

    }

  }

  
@media screen and (min-width:  768px) and (max-width: 1120px) {

    .header {

        width: 100%;
        margin-bottom: 20px;
        justify-content: space-between;

        &__block:nth-child(2) {

            display: flex;
            margin-right: auto;

        }

        &__block {

          margin-right: 20px;

        }

        &__block:nth-child(3) {

            display: flex;

        }

        &__block:last-child &__divider:first-child {

            display: inline;
            margin-right: 4px;

        }

    }

}
  

@media screen and (min-width: 1121px) {
  
    
    .header {

        width: 100%;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 48px;
        background-color: rgba(248, 248, 248, 1);
        height: 42px;

        &__hi-res-text {

            display: inline-block;

        }

        &__block:nth-child(2), &__block:nth-child(3) {

            display: none;

        }

        &__block:nth-child(4) {

            margin-left: auto;
            margin-right: 32px;
            margin-bottom: 12px;

        }

        &__block:nth-child(4) &__hi-resol {

            display: inline-block;
            margin-left: 32px;

        }

        &__checkstatus {

            margin-left: 12px;

        }

        &__repair {

            margin-left: 12px;

        }

        &__hi-res-text {

            display: inline;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: -0.6px;
            font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

    }
 
}