
.main {

    width: 100%;
    height: auto;
    background: rgba(248, 248, 248, 1);
    font-family: $medium;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__text {

          font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 28px;
          line-height: 40px;
          letter-spacing: -0.6px;
          font-weight: 900;
          display: inline-block;
          padding-bottom: 16px;
          vertical-align: 20%;

    }

    &__menu {

          height: 40px;
          width: 96%;
          margin: 0 auto;
          margin-left: 16px;
          margin-bottom: 40px;
          background-color: rgba(255, 166, 0, 0);
          display: flex;
          flex-direction: row;
          overflow-x: auto;
    

    }

    &__highlight2 {

          width: 4px;
          height: 40px;
          background-color: rgba(65, 246, 215, 1);
          border-radius: 0 4px 4px 0;
          display: inline-block;
          margin-right: 20px;
       

    }

    &__menu::-webkit-scrollbar {

          display: none;

    }

    &__menu-item {

          display: inline-block;
   
          padding-left: 16px;
          padding-right: 16px;
          font-weight: lighter;
          border-radius: 6px;
          white-space: nowrap;
          color: gray;
          box-sizing: border-box;
          border: 1px solid rgba(186, 7, 7, 0);
          font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 16px;
          line-height: 24px;

          padding-top: 8px;
          padding-bottom: 8px;
          
         

    }

    &__menu-item:hover {

          border: 1px solid rgba(0, 0, 0, 0.107);
      
          padding-left: 16px;
          padding-right: 16px;
          border-radius: 4px;
          background-color: white;

    }

    &__title-span2 {

          position: relative;
          top: -12px;
          font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 28px;
          line-height: 40px;
          letter-spacing: -0.6px;
          font-weight: 900;
    
          display: inline-block;
          width: 300px;
          text-indent: 16px;
          margin-top: 20px;

    }


    &__title-span2::before {

        content: '';
        height: 40px;
        width: 4px;
        box-sizing: border-box;
        border-radius:  0 4px 4px 0;
        background-color: rgba(65, 246, 215, 1);
        position: absolute;
        left: 0px;

    }

    
}

  @media screen and (min-width:  768px) and (max-width: 1120px) {
      

    
  .main {

    width: 100%;
    height: auto;

    &__menu {

        width: 98%;
        margin: 20px;
        margin-left: 16px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        height: auto;

    }

    &__block {

        height: 40px;

    }

    &__menu-item {

        display: inline-block;
        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

    }

}


}
  
  
  @media screen and (min-width: 1121px) {


    
    .main {

        width: 100%;
        height: auto;
        margin-top: 0px;

        &__menu {

            width: 98%;
            margin: 20px;
            margin-left: 20px;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            margin-top: 0px;
            margin-bottom: 0px;

        }

        &__menu-item {

            display: inline-block;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            margin-bottom: 4px;
            font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;

        }

        &__tittle-span {

            position: relative;
            top: -12px;
            margin-left: 4px;
            display: inline-block;
            width: 240px;

        }

        &__title {

          
        }

        &__block {

            display: none;
    }
        }
        
    }

