

.main {

    width: 100%;
    height: auto;
    background: rgba(248, 248, 248, 1);
    font-family: $medium;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  .main__text {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 900;
  
  }
  
  .main__menu {
   
    height: 40px;
    width: 96%;
    margin: 0 auto;
    margin-left: 16px;
    margin-bottom: 40px;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  
  }
  
  .main__highlight {
  
    width: 4px;
    height: 40px;
    background-color: rgba(65, 246, 215, 1);
    border-radius: 0 4px 4px 0;
    display: inline-block;
    margin-right: 20px;
    
  }
  
  .main__menu::-webkit-scrollbar {
  
        display: none;
  
      }
  
  .main__menu-item {
  
    display: inline;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: lighter;
    border-radius: 6px;
    white-space: nowrap;
    color: gray;
    box-sizing: border-box;
    border: 1px solid rgba(186, 7, 7, 0);
    font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
  
  }
  
  .main__menu-item:hover {
  
     border: 1px solid rgba(0, 0, 0, 0.107);
     padding: 8px;
     padding-left: 16px;
     padding-right: 16px;
     border-radius: 4px;
     background-color: white;
     
  }
  
  .main__post {
  
    width: 100%;
    height: auto;
    background-color: rgba(58, 38, 0, 0);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0;
    
  }
  
  .main__post-text {
     
    width: 90%;
    margin: 0;
    padding: 16px;
    padding: 4px 30px 16px 24px;
    font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  
    
   
  
  }
  
  
  .main__picture {
  
    width: 52%;
    height: auto;
    margin: 0;
    object-fit: cover;
  
  }
  
  .main__hidden-text {
    display: none;
  }
  
  .main__summary {
  
    width: 140px;
    height: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
  
  
  }
  
  .main__summary-text {
  
    display: inline;
    
    margin-left: 4px;
    white-space: nowrap;
    align-self: center;
  
    font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2;
  
  
  }
  
  .main__text {
  
    display: inline-block;
    padding-bottom: 16px;
    vertical-align: 20%;
    font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  
  }
  
  .main__more {
  
    background-image: url('../img/expand.svg');
    width: 24px;
    height: 24px;
  
  }
  
  #more {
  
    display: none;
  
  }
  
  .main__picture {
  
    width: 98%;
    height: auto;
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  
  }
  
  .main__tittle-span {
  
   position: relative;
   top: -12px;
   font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: 900;
    
  }
  
  


.main__brands {
    width: 100%;
    height: auto;
    
    
    
  }
  .main__brands-title {
    width: 100%;
    height: auto;
    min-height: 56px;
  
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
   
    background-image: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  
    
  }
  .main__brands-title a  {
    
    display: inline-block;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    line-height: 24px;
    font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(126, 126, 130, 1);
  
    
  
  
  }

.main__brands-box {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 0px;
    
    
    box-sizing: border-box;
    justify-items: auto;
    
  
  
  }
  .main__brands-more {
    display: none;
    width: 200px;
  
    padding-left: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    
  }
  .main__brands-more .main__more:first-child {
    margin-right: 12px;
  }
  


.main__brand-item  {
    background-color: rgb(176, 176, 176);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 224px;
    
    height: 72px;
    margin-right: 24px;
    margin-bottom: 16px;
    border: 1px solid rgba(234, 234, 234, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
  
  
  }
  
  .main__brand-href {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/go.svg');
    margin: 16px;
  }
  

.main__brand-logo--bosch {
    background-image: url('../img/bosch.svg');
    background-size: 100%;
    width: 128px;
    height: 28px;
  
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 16px;
   
  
  
  }
  
  .main__brand-logo--samsung {
    background-image: url('../img/samsung.svg');
    background-size: 100%;
    width: 116px;
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    margin-right: auto;
    
  }
  

.main__brand-logo--apple {
    background-image: url('../img/apple.svg');
    background-size: 100%;
    width: 44px;
    height: 44px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    
  }
  
  .main__brand-logo--hp {
    background-image: url('../img/hp.svg');
    background-size: 100%;
    width: 52px;
    height: 52px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    
  }


.main__brand-logo--sony {
    background-image: url('../img/sony.svg');
    background-size: 100%;
    width: 128px;
    height: 26px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    
  }
  
  .main__brand-logo--wiew-sonic {
    background-image: url('../img/wiew-sonic.svg');
    background-size: 100%;
    width: 128px;
    height: 21px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    
  }
  

.main__brand-logo--lenovo {
    background-image: url('../img/lenovo.svg');
    background-size: 100%;
    width: 108px;
    height: 32px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    
  }
  .main__brand-logo--acer {
  
    background-image: url('../img/acer.svg');
    background-size: 100%;
    width: 108px;
    height: 32px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    width: 94px;
    height: 24px;
    
  }
  
  @media screen and (min-width:  768px) and (max-width: 1120px) {
      

    
  .main {

    width: 100%;
    height: auto;

}

.main__menu {
    
    width: 98%;
    margin: 20px;
    margin-left: 16px;
    margin-bottom: 0px;
    
    display: flex;
    flex-wrap: wrap;
    height: auto;
  
}
.block {
  
    height: 40px;
}


    .main__menu-item {

        display: inline-block;
        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        
    }
   
    .main__post  {
  
        display: flex;
        flex-direction: row;
        width: 96%;
        height: auto;
        min-height: 300px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 0px;
      
        
    
    }
  
    .main__post-text {
  
        font-family: $regular,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        border-left: 0;
        width: 44%;
        padding: 16px 20px 16px 24px;
        align-self: flex-start;
        
        
    }

    .main__picture {

        width: 48%;
        height: auto;
        margin: 0;
        object-fit: cover;
  
    }
  
  
  
    .main__brands {
  
        width: 100%;
    
    }

    .main__brands-title a {
        font-size: 16px;
      line-height: 24px;
      font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .main__brands-box {
          padding-top: 24px;
          padding-left: 24px;
          height: 200px;
          overflow: hidden;
          display: flex;
          margin-bottom: 24px;
      }
    
      .main__brand-item {
          width: 29%;
          margin-right: 24px;
          margin-bottom: 16px;
    
          min-width: 215px;
      
      }

    .main__brands-more {
        display: flex;
        margin: 0px 24px 24px 32px;
        font-family: $medium,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(27, 28, 33, 1);
  
  
        font-size: 16px;
        line-height: 24px;
        width: 200px;
        margin-left: 4px;
  
    }
  
  
  
  
  
    .main__brands-box--open {
        height: auto;
    }

  
  }
  
  
  @media screen and (min-width: 1121px) {


    
    .main {

        width: 100%;
        height: auto;
        margin-top: 0px;
        
    }

    .main .block {
        
            display: none;
        
    }
    
    .main__menu {
          
        width: 98%;
        margin: 20px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        

    }

    .main__menu-item {
        
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-bottom: 4px;
        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 200;

        
        
        
    }

    .main__post  {

        display: flex;
        flex-direction: row;
        width: 96%;
        height: auto;
        min-height: 300px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 0px;
      
        
    
    }

    .main__hidden-text {
        display: inline;

    }
    
    .main__post-text {
        
        font-family: $regular,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        font-weight: 200;
        width: 48%;
        padding: 4px 30px 16px 12px;
        margin-top: 4px;
        
    }
    

    .main__picture {

        width: 52%;
        height: auto;
        margin: 0;
        object-fit: cover;

    }
   
    .block {
      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }
  
    .main__tittle-span {
  
        position: relative;
        top: -12px;
        margin-left: 4px;
        
      
        display: inline-block;
        width: 240px;
     
     }

     .main__summary {

         display: none;
     }

     #more {

         display: inline;

     }
     .main__brands {
 
         width: 100%;
         
         
     }

     .main__brands-title a {

         font-size: 16px;
         line-height: 24px;
         font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-weight: 200;
     }

     .main__brand-item {
         width: 22%;
         margin-right: 24px;
         margin-bottom: 16px;
         min-width: 220px;
     }
     .main__brands-box {
   
         height: 200px;
         overflow: hidden;
         display: flex;
         margin-bottom: 24px;
         padding-left: 24px;
         padding-top: 24px;
        
     }

     .main__brands-more {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         
         font-family: $regular,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         color: rgba(27, 28, 33, 1);
         width: 140px;
         height: 24px;
         margin-left: 24px;
         padding: 0;

 
     }

     .main__more {
         display: inline;
         margin: 0;
         padding: 0;
     
         

     }

     .main__more-text {
         margin: 0;
         padding: 0;
         display: inline;

       
     }
     .main__brands-box--open {
         height: auto;
     }
     
  
  }