.prices {

   
    width: 100%;
    
 

    &__title {

        width: 100%;
        height: auto;
        min-height: 56px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-top: 16px;
        padding-left: 24px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-image: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
        margin-top: 24px;
        border-top: 1px solid rgba(217, 255, 245, 1);

        a {

            display: inline-block;
            text-decoration: none;
            width: auto;
            font-size: 16px;
            line-height: 24px;
            font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgba(126, 126, 130, 1);

        }
  
    }

    &__box {

        width: 100%;
        min-height: 100px;
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        
        box-sizing: border-box;
        justify-items: auto;
   
     





    }

    &__table {

        margin: 2%;
        width: 96%;
        height: 96%;
        min-height: 100px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 10px;
        position: relative;
        margin-top: 48px;

    }

    &__head {

        position: absolute;
        top: -48px;

        display: flex;
        flex-direction: row;
        width: 96%;
        margin-left: 2%;

        color: rgba(126, 126, 130, 1);
        
        font-size: 14px;
        line-height: 16px;

        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

 

        

  
    &__item {

            width: 96%;
            height: 56px;
            background-color: white;
            display: flex;
            flex-direction: row;
            margin: 0 auto;

            font-size: 14px;
            line-height: 18px;
            font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 

           
            
    
    }





    &__name {

        width: 55%;
        height: 100%;
        text-align: left; 
        padding-top: 20px;
        box-sizing: border-box;
        letter-spacing: 0.2px;
        

    }

    &__price {

        width: 14%;
        height: 100%;
        text-align: left; 
        padding-top: 20px;
        box-sizing: border-box;
        letter-spacing: 0.2px;

    }

    &__time {

        width: 14%;
        height: 100%;
        text-align: left; 
        padding-top: 20px;
        box-sizing: border-box;
        letter-spacing: 0.2px;

    }

    &__button-space {

        width: 14%;
       
        height: 100%;
        margin-right: auto;
    
    }

    &__item-button {

        width: 120px;
        height: 32px;
        border-radius: 16px;
        border: none;
        background-color: rgba(255, 62, 121, 1);
        font-size: 12px;
        line-height: 24px;
        color: white;
        font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        text-indent: 8px;
        margin-top: 12px;
        vertical-align: baseline;
        margin-right: 0px;
        margin-left: auto;
        position: relative;
        
    }

    &__item-button::before {

        content: '';
        width: 24px;
        height: 24px;
        background-image: url('../img/goside.svg');
        position: absolute;
        left: 84px;
        top: 3.5px;

    }
   


    &__bottom-border {

        border-bottom: 1px solid rgba(234, 234, 234, 1);
    }

    &__top-border {

        border-top: 1px solid rgba(234, 234, 234, 1);

    }







 }

  @media screen and (min-width:  768px) and (max-width: 1120px) {

          
    .prices {
  
        width: 100%;

        &__title {

            a {

                font-size: 16px;
                line-height: 24px;
                font-family: $regular, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
        }

        &__box {

          
            display: flex;
         

        }


    

    }


}


  @media screen and (min-width: 1121px) {


  .prices {
 
    width: 100%;


    &__box {

        display: flex;
   

    }

       
}

}


