
.sidebar {

    width: 320px;
    height: 100vh;
    background-color: white;
    position: absolute;
    left: -400px;
    box-shadow:  0 -52px 64px 0 rgba(0, 0, 0, 0.385);
    overflow: scroll;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &__header {

        box-sizing: border-box;
        padding: 20px 20px 20px 24px;
        width: 100%;
        height: 92px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    &__close {

        width: 40px;
        height: 40px;
        background-image: url('../img/close.svg');

    }

    &__logo {

        width: 98px;
        height: 52px;
        background-image: url('../img/LogoCPS.svg');
        align-self: center;
        margin-right: auto;
        margin-left: 12px;
        

    }

    &__search {

        width: 40px;
        height: 40px;
        background-image: url('../img/search.svg');
        margin-right: 6px;

    }

    &__call {

        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('../img/call.svg');
     
    }

    &__chat {

        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('../img/chat.svg');

    }

    &__profile {

        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url('../img/profile.svg');

    }

    a {

        text-decoration: none;
        color: black;
        font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    &__ul {

        list-style: none;
        padding: 0px;

    }

    &__li {

        list-style: none;
        font-size: 16px;
        line-height: 24px;
        
        margin-bottom: 8px;
        letter-spacing: -0.2px;
        

    }


    &__nav {

       width: 248px;
       height: auto;
       display: inline-block; 

       

       ul {

          display: flex;
          flex-wrap: wrap;
          margin: 0px;

       }

       li {

          display: inline-block;
          width: 100%;

       }

       a {

          font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 16px;
          text-decoration: none;
          display: block;
          height: 24px;
          text-indent: 24px;
          font-size: 16px;
          padding-top: 12px;
          color: black;
          position: relative;
          margin-bottom: 8px;

       }

       a:hover::before {

          content: '';
          width: 1px;
          height: 32px;
          border: 2px solid rgba(65, 246, 215, 1);
          background-color: rgba(65, 246, 215, 1);
          border-radius: 0 4px 4px 0;
          z-index: 10;
          position: absolute;
          left: 0px;
          top: 4px;

       }

       a:hover {

          color: rgba(126, 126, 130, 1);

       }

    }

    &__footer {

       display: inline-block;
       width: 220px;
       height: 200px;
       padding: 16px 24px 16px 24px;
       font-family: $medium;
       margin-top: auto;
       margin-bottom: 12px;
       margin-left: 0px;

    }

    &__footer-icons .margin-right {

        margin-right: 12px;

    }

    &__email {

        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 16px;

        a {

            font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

    }

    &__phone {

        font-family: $bold, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        font-size: 24px;
        margin-top: 12px;

    }

    &__lang {

        margin-top: 48px;
        font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;

        span:nth-child(1) {

            color: rgba(126, 126, 130, 1);

        }

        span {

            margin-right: 8px;

        }

    }


  }
  
  
  
  
  @media screen and (min-width:  768px) and (max-width: 1120px) {

    .sidebar {
        
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 320px;
        height: 100vh;
        position: absolute;
        left: -400px;
        box-shadow:  0 -52px 64px 0 rgba(0, 0, 0, 0.385);
        overflow: scroll;
        z-index: 10;
        box-sizing: border-box;

        &__nav {
            margin-top: 24px;
        }

        &__search {

            margin-right: 6px;

        }

        &__ul {

            margin-top: 0px;

        }

    }

  }


  @media screen and (min-width: 1121px) {

    .sidebar {
  
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 0px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.064);

        &__nav {

            margin-top: 24px;
            
        }

        &__close {

            display: none;

        }

        &__li {

            a {

                font-family: $medium, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                font-weight: 200;

            }

        }


    }



  }



  