@import '../libs/normalize';
@import './variables.scss';

@import './root.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './sidebar-mask.scss';
@import './sidebar.scss';
@import './brand-box';
@import './swiper-box.scss';


@import './sidebar-mask.scss';


html, body {
  
  background-color: rgba(248, 248, 248, 1);
  margin: 0;
  padding: 0;

}

.border {
  border: 2px solid black;
}

.cps-root {
  
  width: 100vw;
  min-width: 320px;
  height: 100%;
  min-height: 1000px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  z-index: 0;

}



::-webkit-scrollbar {
  width: 0;
}
















.scale-effect:hover {

  transform: scale(1.05);
  transition: all 0.1s ease-out;
  
}
.rotate-effect:hover {
  transform: rotate(10deg);
  transition: all 0.1s ease-out;
}

.opacity-effect:hover {
  opacity: 70%;
  transition: all 0.1s ease-out;
  
}







/*   768 < width < 1120px  */



@media screen and (min-width:  768px) and (max-width: 1120px) {
  
 
  .cps-root {
      
      width: 100vw;
      height: 100%;
      min-height: 1000px;
      background-color: rgba(248, 248, 248, 1);
      margin: 0 auto;
      
  }










  
}


/*   width >  1120px  */

  @media screen and (min-width: 1121px) {

  
      .cps-root {
          
          width: 64%;
          height: auto;
          min-height: 1000px;
          max-width: 1250px;
          background-color: rgba(248, 248, 248, 1);
          position: relative;
          padding-left: 320px;
          font-family: $regular, sans-serif;
          font-size: 16px;
          font-weight: 900;
        
      }




 
  



      

  
      
  }
  
  