
@import './vars';
@import '../libs/normalize';
@import './fonts';




body {
  background-color: $back;
  color: $text;
  user-select: none;
  display: grid;
  transition: all .5s;
  font-family: 'TTLakes-light';
}

.image {
  width: 200px;
  height: 100px;
  background-image: url('../img/picture.jpg');
}

