.main__brands-swiper {

    width: 96%;
    min-width: 0;
    height: auto;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 48px;
    overflow: hidden;
  

  
  
  }
  
  .swiper {
    
    width: 262px !important;
    height: auto !important;
    display: none;
    overflow: visible !important;
  
    margin-left: 24px !important;
    height: 120px;
   
  
   
    
  }


  .swiper-slide {
  
    display: block;
    position: center;
    overflow: visible;
    margin-bottom: 24px;
    box-sizing: border-box;
   
   
  
  }
  
  .swiper-pagination {
    
    width: 90vw !important;
   
    
  
  }
  
  
  
  
  @media screen and (min-width:  768px)  {
      
  .main__brands-swiper2 {
    display: none;
  }
  
  }