@import './variables.scss';

.main__brands-swiper2 {

    width: 100%;
    min-width: 0;
    height: auto;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 4px;
    overflow: hidden;

    .swiper {

      width: 257px !important;
      margin-left: 16px !important;
    }

    .swiper-slide {

      width: 245px !important;
    }
  

  
  
  }
  
  .swiper {
    
    width: 262px !important;
    height: auto !important;
    display: none;
    overflow: visible !important;
  
    // margin-left: 24px !important;
    height: 120px;
   
  
   
    
  }


  .swiper-slide {
  
    display: block;
    position: center;
    overflow: visible;
    margin-bottom: 24px;
    box-sizing: border-box;
   
   
  
  }
  
  .swiper-pagination {
    
    width: 90vw !important;
   
    
  
  }
  
  
  
  
  @media screen and (min-width:  768px)  {
      
  .main__brands-swiper2 {
    display: none;
  }
  
  }