@import './fonts.scss';


// fonts

$regular: 'TTLakes-Regular';
$medium: 'TTLakes-Medium';
$bold: 'TTLakes-Bold';

// colors
$bodyBack: green;

$background: rgba(248, 248, 248, 1);
$white: rgba(255, 255, 255,  1);
$blackColor: rgba(27, 28, 33, 1);
$menuTextColor: rgba(126, 126, 130, 1);
$itemBorderColor: rgba(184, 255, 236, 1);
$buttonColor: rgba(255, 62, 121, 1);
$dividerColor: rgba(234, 234, 234, 1);
$headerTextColor: rgba(126, 126, 130, 0.72);
$titleTextColor: rgba(65, 246, 215, 1);
$gradientOne: #F8F8F8;
$gradientTwo: #FFFFFF;
$borderTop: rgba(217, 255, 245, 1);
$devicesItemText: rgb(176, 176, 176);
$opacityNull: rgba(255, 166, 0, 0);
$menuHover: rgba(0, 0, 0, 0.107);
$maskColor: rgba(255, 255, 255, 0.715);
$boxShadow: rgba(0, 0, 0, 0.385);
$mainText: black;


